node_modules
.DS_Store
*.map
public/src
public/avatar
public/icon
public/tmp
public/manage
public/admin
public/common
public/exhibition
public/home
public/login
public/monitor
public/download
.pnpm-store
