html,
body {
  padding: 0;
  margin: 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: #fff;
  display: none;
  color: #aaa;
  font-size: 100px;
  &.show {
    display: flex;
  }
  &::before {
    content: 'loading...';
    text-transform: uppercase;
  }
}

.blocked {
  text-align: center;
  line-height: 100vh;
  margin: 0;
}

.blocked-admin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 400px;
  white-space: nowrap;
}
