$color-main: #476de8;
$color-danger: #ff847b;
$color-bg: #eff3ff;

$font-family: Helvetica, 'PingFangSC', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;

$padding: 1rem;

$transition: all 0.3s ease-out;
